<template>
    <li class="nav-item dropdown">
        <a id="navbarDropdown" class="nav-link dropdown-toggle" href="#" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="fa fa-bell"></span>
            <span class="badge badge-danger" v-text="notifications.length"></span>
            <span class="caret"></span>
        </a>
        <!--The tag below was originally a div-->
        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <li class="dropdown-item" v-for="notification in notifications">
                <a class="dropdown-item" @click="markAsRead(notification)" :href="notification.data.link"
                   v-text="notification.data.text"></a>
            </li>
            <div class="dropdown-divider"></div>
            <li class="dropdown-item"><a class="dropdown-item" href="#" @click="markAllAsRead">Marcar todo como
                leído</a></li>
            <!--<a class="dropdown-item" href="#">Notification #1</a>-->
        </ul>
    </li>
</template>

<script>
    export default {
        data() {
            return {
                notifications: [],
                message: 'hola',
            }
        },
        mounted() {
            axios.get('/notificaciones').then(res => {
                console.log(res);
                this.notifications = res.data;
            });
        },
        computed: {
            notificationsCount: function () {
                return this.notifications.length;
            }
        },
        methods: {
            markAsRead(notification) {
                axios.put(`notificaciones/${notification.id}`)
                    .then(res => {
                        console.log(res);
                        this.notifications = res.data;
                    });
            },
            markAllAsRead() {
                this.notifications.forEach(notification => {
                    this.markAsRead(notification);
                });
            },
        }
    }
</script>
